.profile-layout {
  min-height: 100vh;
  margin-top:5%;
}

.profile-sider {
  background-color: #1f1f1f;
}

.profile-sider-header {
  padding: 24px;
  text-align: center;
  background-color: #141414;
}

.profile-sider-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.profile-sider-name {
  color: #fff;
  margin-top: 16px;
}

.profile-content {
  padding: 40px;
  background-image:url('../../../assets/images/background.jpg');
  overflow-y: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
