@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.login-card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  background: transparent;
  opacity: 0; 
  animation: fadeInUp 0.8s ease forwards; 
}

.login-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-logo {
  width: 120px;
  margin-bottom: 20px;
}

.google-login-btn {
  background-color: lightblue;
  border-radius: 40px;
  color: gray;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.google-login-btn:hover {
  background-color: #1890ff;
  color: white; 
  transform: scale(1.05); 
  cursor: pointer; 
}

.toggle-button.active-btn {
  background-color: lightcyan;
  color: black;
  border-color: #1890ff;
}
