.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo-img {
  height: 40px;
  margin-right: 8px;
}

.navbar-toggler {
  display: none;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar-menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}
