/* src/components/NotFoundPage.css */
.not-found-page {
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    margin:0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adatta l'immagine per coprire tutto lo schermo */
    object-position: center; /* Centra l'immagine */
    z-index: -1; /* Metti l'immagine dietro il testo */
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; /* Assicurati che il contenuto sia sopra l'immagine */
  }
  
  .content h1 {
    font-size: 10rem; /* Grandezza del testo 404 */
    margin: 0;
  }
  
  .content p {
    font-size: 2rem; /* Grandezza del testo per il messaggio */
    margin: 1rem 0;
  }
  
  .back-home-link {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border: 2px solid white;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .back-home-link:hover {
    background-color: white;
    color: #333; /* Colore del testo del link al passaggio del mouse */
  }
  