.trip-detail-layout {
    min-height: 100vh;
    background-image: url('../../../assets/images/background.jpg');
  }
  
  .trip-detail-header {
    background-color: #fff;
    padding: 0 50px;
  }
  
  .trip-detail-menu {
    display: flex;
    justify-content: center;
  }
  
  .trip-detail-content {
    margin: 24px 50px;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
  }
  