.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  padding: 0;
  position: relative;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  left: 5%;
  z-index: 2;
  max-width: 40%;
}

.hero-title {
  font-size: 4rem;
  color: #0d47a1!important;
  font-weight: 800;
  animation: fadeInLeft 1s ease;
}

.hero-subtitle {
  font-size: 2rem;
  color: white;
  margin: 20px 0;
  animation: fadeInLeft 1.5s ease;
}

.create-trip-button {
  animation: fadeInLeft 2s ease;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.three-d-globe {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  z-index: 1;
  background: #000;
}

.trips-section {
  
  padding: 40px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.section-title {
  text-align: center;
  color: #0d47a1;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.trip-card {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.trip-card-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.trip-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.trip-card-image:hover {
  transform: scale(1.05);
}

.trip-card-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.trip-dates {
  margin-top: 15px;
  color: #616161!important;
  display: flex;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
  }

  .container {
    padding: 15px;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .three-d-globe {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  .trips-section {
    padding: 20px;
  }

  .section-title {
    font-size: 2rem;
  }
}
