@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;700&display=swap');


body {
  font-family: "Exo", sans-serif;
  font-weight: 600; 
  background-image: url('./assets/images/backgroundIM.jpg');
  background-size: cover; 
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; 
}

p, span, li {
  font-weight: 200;
}
